@import "../../../styles/mixin";
@import "../../../styles/variables";

.uploadFile {
  width: 300px;
  min-height: 250px;

  &__choose {
    position: relative;
    height: 250px;
    border: dashed 2px $btnBorderColor;
  }

  &__label {
    line-height: 250px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
  }

  .swiper-button-prev {
    top: 42%;
    color: $btnBorderColor;
    scale: 0.7;
  }

  .swiper-button-next {
    top: 42%;
    color: $btnBorderColor;
    scale: 0.7;
  }
}

@media screen and (max-width: 600px) {
  .uploadFile {
    width: 100%;
  }
}