@import "../../../../styles/mixin";
@import "../../../../styles/variables";

.all-products {
  .form {
    label {
      text-transform: capitalize;
    }

    textarea {
      resize: none;
      min-height: 150px;
      overflow: auto;
    }

    &__top {
      @include flex(space-between, flex-start);
      gap: 25px;
      min-height: 110px;
    }

    &__body{
      @include flex(space-between, flex-start);
      gap: 25px;
    }

    &__quantity{
      flex: 0 0 20%;
      input{
        height: 70px;
      }
    }

    &__description {
      min-height: 225px;
    }

    &__productName {
      flex: 0 0 50%;
    }

    &__price {
      @include flex(space-between, flex-start);
      gap: 20px;
    }

    &__submit {
      padding: 18px 26px;
      border-radius: 6px;
    }

    &__file {
      @include flex(space-between, normal, column);
      gap: 20px;
      margin: 25px 0px;
    }

    &__category {
      flex: 1 1 auto;

      select {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .all-products {
    .form {
      &__top {
        flex-direction: column;
        align-items: normal;
      }

      &__body{
        flex-direction: column;
      }

      &__quantity{
        flex: 1 1 auto;
        width: 100%;
      }

      &__productName {
        flex: 1 1 auto;
      }

      &__category {
        flex: 1 1 auto;
        width: 100%;
      }

      &__file {
        flex-direction: column;
        align-items: normal;
        margin: 35px 0px;
        gap: 0px;
      }
    }
  }
}