.action-loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0007;
  z-index: 10001 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}