@import "@styles/general/mixin";
@import "@styles/general/variables";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #0007;
    box-shadow: 0px 4px 50px rgb(0 0 0 / 30%);

    &__body {
        min-height: 100vh;
        @include flex(center, center, center);
        padding: 30px 10px;
    }

    &__close {
        background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2213px%22%20height%3D%2213px%22%20%20viewBox%3D%220%200%2013%2013%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23101010%22%20d%3D%22M4.94975%206.36396L0%2011.3137L1.41421%2012.7279L6.36396%207.77817L11.3137%2012.7279L12.7279%2011.3137L7.77817%206.36396L12.7279%201.41421L11.3137%203.37175e-07L6.36396%204.94975L1.41421%200L6.7435e-07%201.41421L4.94975%206.36396Z%22%2F%3E%3C%2Fsvg%3E)
            50% 50% no-repeat;
        background-size: 13px 13px;
        width: 80px;
        height: 80px;
        background-color: $mostUsedBcg;
        position: absolute;
        top: 0;
        right: -80px;
        font-size: 0;
        cursor: pointer;
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    &__content {
        position: relative;
        padding: 30px;
        background-color: #fff;
        border-bottom-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }
}
