@import "@/styles/general/mixin";
@import "@/styles/general/variables";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #0007;
    box-shadow: 0px 4px 50px rgb(0 0 0 / 30%);
    
    &__body {
        min-height: 100vh;
        @include flex(center, center, center);
        padding: 30px 10px;
    }

    &__close {
        background: url("../../../assets/icons/") 50% 50% no-repeat;
        background-size: 13px 13px;
        width: 80px;
        height: 80px;
        background-color: $mostUsedBcg;
        position: absolute;
        top: 0;
        right: -80px;
        font-size: 0;
        cursor: pointer;
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    &__content {
        position: relative;
        padding: 30px;
        background-color: #fff;
        border-bottom-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }
}
