@import "@/styles/general/mixin";
@import "@/styles/general/variables";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #0007;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
    overflow: auto;

    &__body {
        min-height: 100vh;
        @include flex(center, center);
        padding: 30px 10px;
    }

    &__close {
        background: url("../../../assets/icons/delete-icon.svg") 50% 50% no-repeat;
        background-size: 13px 13px;
        width: 80px;
        height: 80px;
        background-color: $mostUsedBcg;
        position: absolute;
        top: 0;
        right: -80px;
        font-size: 0;
        cursor: pointer;
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    &__content {
        position: relative;
        padding: 30px;
        background-color: #fff;
        border-bottom-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }
}

.modal-enter {
    opacity: 0;
}
.modal-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.modal-exit {
    opacity: 1;
}
.modal-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
