// * general
$maxWidth: 1920;
$containerMaxWidth: 1360;
$mainFont: "Montserrat", sans-serif;
$textfont: "Roboto", sans-serif;

// * ui
$btnBorderColor: #e92e2e;

// * header
$titleColor: #101010;
$linkColor: #101010;
$textColor: #393939;
$textColorLighter: #393939b3;
$littleTextColor: #393939b3;
$headerLinkHoverColor: #e92e2e;
// * product
$productTitleColor: #101010b3;
// * mobile menu
$mobileMenuTextColor: #101010e6;

// * bcg color
$bcgColor: #f7f7f7;
