@import "../../../../styles/mixin";
@import "../../../../styles/variables";

.all-products {
  .item {
    min-height: 170px;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(218, 218, 218, 0.4);

    &__inner {
      @include flex(space-between, flex-start);
      gap: 20px;
      overflow: auto;
    }

    &__info {
      @include flex(flex-start, center);
      flex: 0 0 40%;
      gap: 20px;
      @include fontArguments($textfont);
      font-size: 15px;
    }

    &__control {
      @include flex(space-between, center);
      flex: 1 1 auto;
      gap: 20px;
      padding-top: 10px;
    }

    &__name {
      color: rgba(57, 57, 57, 0.7);
      line-height: 150%;
      text-transform: capitalize;
    }

    &__title {
      @include flex(space-between, normal, column);
      gap: 20px;
    }

    &__image {
      width: 80px;
    }

    &__price {
      @include fontArguments($mainFont, 700);
      font-size: 17px;
      color: $titleColor;
      text-align: center;
    }

    &__discount {
      @include fontArguments($mainFont, 700);
      font-size: 17px;
      color: $btnBorderColor;
      text-align: center;
    }

    &__description {
      max-width: 300px;
      @include fontArguments($textfont);
      font-size: 16px;
      color: rgb(57, 57, 57);
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: capitalize;
    }

    &__buttons {
      @include flex(space-between, center);

      button {
        display: block;
        cursor: pointer;
        transition: all .3s;
        border-radius: 8px;

        &:hover {
          box-shadow: inset 0px 4px 20px #b0b0b0;
        }
      }
    }

    &__delete {
      width: 43px;
      height: 43px;
      background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2213px%22%20height%3D%2213px%22%20%20viewBox%3D%220%200%2013%2013%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23101010%22%20d%3D%22M4.94975%206.36396L0%2011.3137L1.41421%2012.7279L6.36396%207.77817L11.3137%2012.7279L12.7279%2011.3137L7.77817%206.36396L12.7279%201.41421L11.3137%203.37175e-07L6.36396%204.94975L1.41421%200L6.7435e-07%201.41421L4.94975%206.36396Z%22%2F%3E%3C%2Fsvg%3E") 50% 50% no-repeat;
    }

    &__change {
      width: 43px;
      height: 43px;
      background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%20height%3D%2218px%22%20%20viewBox%3D%220%200%2020%2018%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23101010%22%20d%3D%22M3.9593%205.12417C3.9593%205.12417%203.95167%201.67427%203.95167%200H5.95167L5.94404%205.12417C7.66971%205.56457%208.95909%207.12626%208.95909%209C8.95909%2010.871%207.67351%2012.4308%205.95167%2012.8739V18H3.95167V12.8739C2.22981%2012.4308%200.944221%2010.871%200.944221%209C0.944221%207.12625%202.23362%205.56455%203.9593%205.12417ZM4.95166%2011C6.05623%2011%206.95909%2010.1046%206.95909%209C6.95909%207.89543%206.05623%207%204.95166%207C3.84709%207%202.94422%207.89543%202.94422%209C2.94422%2010.1046%203.84709%2011%204.95166%2011ZM16.9849%2012.8758C16.9849%2012.8758%2016.9926%2016.3317%2016.9926%2018H14.9926C14.9926%2016.3317%2015.0002%2012.8758%2015.0002%2012.8758C13.2745%2012.4354%2011.9851%2010.8738%2011.9851%209C11.9851%207.12901%2013.2707%205.56917%2014.9926%205.12612V0H16.9926V5.12612C18.7144%205.56917%2020%207.12901%2020%209C20%2010.8737%2018.7106%2012.4354%2016.9849%2012.8758ZM15.9926%207C14.888%207%2013.9851%207.89543%2013.9851%209C13.9851%2010.1046%2014.888%2011%2015.9926%2011C17.0971%2011%2018%2010.1046%2018%209C18%207.89543%2017.0971%207%2015.9926%207Z%22%2F%3E%3C%2Fsvg%3E) 50% 50% no-repeat;
    }
  }

  .category {
    @include flex(flex-start, center);
    gap: 10px;
    max-width: 210px;
    min-height: 100%;
    overflow: auto;
    white-space: nowrap;
    @include fontArguments($textfont);
    font-size: 12px;
    border-radius: 8px;

    &::-webkit-scrollbar {
      cursor: pointer;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b0b0b0;
      cursor: pointer;
      border-radius: 6px;
      border: 2px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;

      &:hover {
        background-color: #969696;
      }
    }

    &__item {
      background-color: $btnBorderColor;
      padding: 10px;
      color: #fff;
      border-radius: 6px;
      text-transform: capitalize;
    }
  }
}

@media screen and (max-width: 1400px) {
  .all-products {
    .item {
      &__inner {
        flex-direction: column;
        align-items: normal;
      }

      &__info {
        flex: 0 0 100%;
      }

      &__control {
        padding-top: 0;
      }

      &__image {
        width: 100px;
        height: 100px;

        img {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .all-products {
    .item {
      padding: 15px 0px;

      &__buttons {
        button {
          cursor: none;
        }
      }
      &__description {
        display: none;
      }

      &__image {
        width: 150px;
      }
    }
  }
}