@import "../../styles/mixin";

.phone-popup {
  .popup__content {
    border-radius: 6px;
    padding: 40px;
  }

  &__inner {
    width: 260px;
  }

  .contacts {
    &__item {
      padding: 0 30px;
    }

    &__recall {
      position: relative;
      display: none;
    }

    .item {
      @include fontArguments($textfont);
      @include adaptivFont(15, 15);
      color: $textColorLighter;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }

      &__text {
        margin-bottom: 4px;
      }

      &__number {
        @include fontArguments($mainFont, 700);
        font-size: 20px;
        color: #000;
      }
    }

    .messengers {
      @include flex(center, center);
      min-height: 20px;
      background-color: #2ea8e3;
      border-radius: 6px;
      padding: 20px;
      margin-top: 30px;
      cursor: pointer;

      &__title {
        @include fontArguments($mainFont, 600);
        color: #fff;
        font-size: 15px;
      }

      &__icon {
        height: 18px;
        width: 18px;
        margin-left: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .phone-popup {
    .popup__content {
      padding: 40px 20px;
      border-radius: 0px;
    }

    &__inner {
      width: 100%;
    }

    &__close {
      width: 50px;
      height: 50px;
      top: 8px;
      right: 8px;
      background-color: #f7f7f7;
      border-radius: 6px;
    }

    .contacts {
      &__recall {
        margin-top: 30px;
        display: block;

        .w-r-btn {
          background-color: $btnBorderColor;
          color: #fff;
        }
      }
    }

    .messengers {
      margin-top: 20px;
      padding: 16px 20px;
    }
  }
}