@import "@/styles/general/mixin";
@import "@/styles/general/ui";
@import "@/styles/general/variables";

.search {
    width: 100%;
    @include flex(space-between, center, $gap: 15px);
    background-color: #000;
    border-radius: $borderRadius;
    height: 70px;
    padding: 8px;

    &__form {
        @include flex(space-between, center);
        flex: 1 1 auto;
        position: relative;
    }

    &__input {
        @include fontArguments($mainFont, 15px, 600);
        flex: 1 1 auto;
        min-height: 54px;
        padding-left: 24px;
        background-color: inherit;
        border: none;
        color: #fff;
        transition: all 0.2s;

        &::placeholder {
            color: #fff;
        }

        &:focus {
            background-color: #ffffff26;
            border-radius: 6px;
        }
    }

    &__btn {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 100%;
        position: absolute;
        left: auto;
        top: 0%;
        right: 5px;
        bottom: 0%;
        background-color: transparent;
        background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2222px%22%20height%3D%2221px%22%20%20viewBox%3D%220%200%2022%2021%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M10.12%200C4.87329%200%200.619995%204.2533%200.619995%209.5C0.619995%2014.7467%204.87329%2019%2010.12%2019C12.4005%2019%2014.4932%2018.1965%2016.1307%2016.8571L19.9444%2020.704L21.3647%2019.296L17.5378%2015.4357C18.8407%2013.8096%2019.62%2011.7458%2019.62%209.5C19.62%204.2533%2015.3667%200%2010.12%200ZM2.62%209.5C2.62%205.35786%205.97786%202%2010.12%202C14.2621%202%2017.62%205.35786%2017.62%209.5C17.62%2013.6421%2014.2621%2017%2010.12%2017C5.97786%2017%202.62%2013.6421%202.62%209.5Z%22%2F%3E%3C%2Fsvg%3E)
            50% 50% no-repeat;
    }
}