@import "@/styles/general/mixin";
@import "@/styles/general/ui";
@import "@/styles/general/variables";

.search {
    width: 100%;
    @include flex(space-between, center, $gap: 15px);
    background-color: #000;
    border-radius: $borderRadius;
    color: #fff;
    height: 70px;
    padding: 8px;

    &__form {
        @include flex(space-between, center);
        flex: 1 1 auto;
        position: relative;
    }

    &__input {
        @include fontArguments($mainFont, 15px, 600);
        flex: 1 1 auto;
        min-height: 54px;
        padding-left: 24px;
        background-color: inherit;
        border: none;
        color: #fff;
        transition: all 0.2s;

        &::placeholder {
            color: #fff;
        }

        &:focus {
            background-color: #ffffff26;
            border-radius: 6px;
        }
    }

    &__btn {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 100%;
        position: absolute;
        left: auto;
        top: 0%;
        right: 5px;
        bottom: 0%;
        background-color: transparent;
        background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2222px%22%20height%3D%2221px%22%20%20viewBox%3D%220%200%2022%2021%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M10.12%200C4.87329%200%200.619995%204.2533%200.619995%209.5C0.619995%2014.7467%204.87329%2019%2010.12%2019C12.4005%2019%2014.4932%2018.1965%2016.1307%2016.8571L19.9444%2020.704L21.3647%2019.296L17.5378%2015.4357C18.8407%2013.8096%2019.62%2011.7458%2019.62%209.5C19.62%204.2533%2015.3667%200%2010.12%200ZM2.62%209.5C2.62%205.35786%205.97786%202%2010.12%202C14.2621%202%2017.62%205.35786%2017.62%209.5C17.62%2013.6421%2014.2621%2017%2010.12%2017C5.97786%2017%202.62%2013.6421%202.62%209.5Z%22%2F%3E%3C%2Fsvg%3E)
            50% 50% no-repeat;
    }

    &__parametr {
        @include flex(space-between, center);
        @extend %r-opacity;
        flex: 0 0 280px;
        background-color: #fff;
        border-radius: 6px;
        min-height: 54px;
        cursor: pointer;
        padding: 20px 45px;

        @include pseudo($loc: before) {
            top: 0;
            right: 0px;
            left: 0;
            bottom: 0;
            background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%20height%3D%2218px%22%20%20viewBox%3D%220%200%2020%2018%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23101010%22%20d%3D%22M3.9593%205.12417C3.9593%205.12417%203.95167%201.67427%203.95167%200H5.95167L5.94404%205.12417C7.66971%205.56457%208.95909%207.12626%208.95909%209C8.95909%2010.871%207.67351%2012.4308%205.95167%2012.8739V18H3.95167V12.8739C2.22981%2012.4308%200.944221%2010.871%200.944221%209C0.944221%207.12625%202.23362%205.56455%203.9593%205.12417ZM4.95166%2011C6.05623%2011%206.95909%2010.1046%206.95909%209C6.95909%207.89543%206.05623%207%204.95166%207C3.84709%207%202.94422%207.89543%202.94422%209C2.94422%2010.1046%203.84709%2011%204.95166%2011ZM16.9849%2012.8758C16.9849%2012.8758%2016.9926%2016.3317%2016.9926%2018H14.9926C14.9926%2016.3317%2015.0002%2012.8758%2015.0002%2012.8758C13.2745%2012.4354%2011.9851%2010.8738%2011.9851%209C11.9851%207.12901%2013.2707%205.56917%2014.9926%205.12612V0H16.9926V5.12612C18.7144%205.56917%2020%207.12901%2020%209C20%2010.8737%2018.7106%2012.4354%2016.9849%2012.8758ZM15.9926%207C14.888%207%2013.9851%207.89543%2013.9851%209C13.9851%2010.1046%2014.888%2011%2015.9926%2011C17.0971%2011%2018%2010.1046%2018%209C18%207.89543%2017.0971%207%2015.9926%207Z%22%2F%3E%3C%2Fsvg%3E)
                right 20px top 50% no-repeat;
            pointer-events: none;
        }

        button {
            position: absolute;
            left: 33px;
            background-color: transparent;
        }

        &:hover {
            button {
                color: #fff;
            }

            @include pseudo($loc: before) {
                pointer-events: none;
                background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2220px%22%20height%3D%2218px%22%20%20viewBox%3D%220%200%2020%2018%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M3.9593%205.12417C3.9593%205.12417%203.95167%201.67427%203.95167%200H5.95167L5.94404%205.12417C7.66971%205.56457%208.95909%207.12626%208.95909%209C8.95909%2010.871%207.67351%2012.4308%205.95167%2012.8739V18H3.95167V12.8739C2.22981%2012.4308%200.944221%2010.871%200.944221%209C0.944221%207.12625%202.23362%205.56455%203.9593%205.12417ZM4.95166%2011C6.05623%2011%206.95909%2010.1046%206.95909%209C6.95909%207.89543%206.05623%207%204.95166%207C3.84709%207%202.94422%207.89543%202.94422%209C2.94422%2010.1046%203.84709%2011%204.95166%2011ZM16.9849%2012.8758C16.9849%2012.8758%2016.9926%2016.3317%2016.9926%2018H14.9926C14.9926%2016.3317%2015.0002%2012.8758%2015.0002%2012.8758C13.2745%2012.4354%2011.9851%2010.8738%2011.9851%209C11.9851%207.12901%2013.2707%205.56917%2014.9926%205.12612V0H16.9926V5.12612C18.7144%205.56917%2020%207.12901%2020%209C20%2010.8737%2018.7106%2012.4354%2016.9849%2012.8758ZM15.9926%207C14.888%207%2013.9851%207.89543%2013.9851%209C13.9851%2010.1046%2014.888%2011%2015.9926%2011C17.0971%2011%2018%2010.1046%2018%209C18%207.89543%2017.0971%207%2015.9926%207Z%22%2F%3E%3C%2Fsvg%3E);
            }
        }
    }

    &__parametr-btn {
        @extend %btn;
        font-size: 15px;
    }
}
