@import "@/styles/general/ui";
@import "@/styles/general/mixin";
@import "@/styles/general/variables";

.users {
    position: relative;
    &__header {
        @include flex(space-between, center, $gap: 20px);
    }

    &__body{
        margin: 50px 0px;
    }

    &__title {
        @extend %adminTitle;
        margin-bottom: 20px;
    }
}
