@import "@/styles/general/mixin";
@import "@/styles/general/ui";
@import "@/styles/general/variables";

.asidebar-best {
    &__header {
        width: 100%;
        min-height: 26px;
        background-color: #000;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &__title {
        @include fontArguments($mainFont, 15px, 700);
        padding: 21px 80px 17px 30px;
        color: #fff;
        text-transform: uppercase;
        @include pseudo() {
            right: 30px;
            width: 24px;
            top: calc(50% - 12px);
            height: 21px;
            background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2224px%22%20height%3D%2221px%22%20%20viewBox%3D%220%200%2024%2021%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M1%204.43504L1.7777%203.8064C1.47529%203.43229%200.949368%203.3265%200.525835%203.5546C0.102301%203.7827%20-0.0988094%204.28003%200.0471278%204.73841L1%204.43504ZM6.89119%208.14457L6.81482%207.14749L6.89119%208.14457ZM17.1088%208.14457L17.0265%209.14117L17.1088%208.14457ZM23%204.43504L23.955%204.7315C24.0974%204.27305%2023.8938%203.77816%2023.4702%203.55246C23.0465%203.32677%2022.5222%203.43395%2022.2212%203.80781L23%204.43504ZM19.4101%2016V17H20.1467L20.3651%2016.2965L19.4101%2016ZM4.68201%2016L3.72914%2016.3034L3.95093%2017H4.68201V16ZM12.046%201L13.0194%200.770762C12.9134%200.320774%2012.5128%200.00208479%2012.0505%201.00732e-05C11.5882%20-0.0020647%2011.1848%200.313016%2011.0748%200.762035L12.046%201ZM3.76151%2021H20.3306V19H3.76151V21ZM19.4101%2015H4.68201V17H19.4101V15ZM5.63489%2015.6966L1.95287%204.13167L0.0471278%204.73841L3.72914%2016.3034L5.63489%2015.6966ZM22.045%204.13858L18.455%2015.7035L20.3651%2016.2965L23.955%204.7315L22.045%204.13858ZM1%204.43504C0.222303%205.06368%200.222452%205.06386%200.222614%205.06406C0.222684%205.06415%200.222858%205.06436%200.222998%205.06454C0.223279%205.06488%200.223608%205.06529%200.223986%205.06575C0.224742%205.06669%200.225693%205.06786%200.226836%205.06926C0.229122%205.07207%200.232181%205.07582%200.235996%205.08047C0.243627%205.08977%200.254293%205.1027%200.267882%205.11902C0.295053%205.15164%200.333955%205.19782%200.3837%205.25558C0.483115%205.37101%200.626275%205.53316%200.806068%205.72598C1.16427%206.11011%201.6747%206.62329%202.27998%207.13297C2.88176%207.63971%203.60061%208.16284%204.3764%208.54845C5.14522%208.93059%206.04018%209.21267%206.96755%209.14165L6.81482%207.14749C6.3802%207.18077%205.85775%207.05132%205.2666%206.75749C4.68242%206.46712%204.09872%206.04983%203.56821%205.60311C3.04118%205.15932%202.58957%204.70601%202.2688%204.36201C2.10911%204.19075%201.98355%204.04843%201.89912%203.9504C1.85694%203.90142%201.82514%203.86364%201.80459%203.83896C1.79431%203.82663%201.78686%203.81759%201.78234%203.81208C1.78008%203.80932%201.77855%203.80745%201.77778%203.80649C1.77739%203.80601%201.77718%203.80576%201.77717%203.80575C1.77716%203.80574%201.7772%203.80579%201.77729%203.8059C1.77734%203.80595%201.77744%203.80608%201.77746%203.8061C1.77757%203.80624%201.7777%203.8064%201%204.43504ZM6.96755%209.14165C8.17243%209.04937%209.14427%208.38766%209.88653%207.60362C10.6299%206.81845%2011.2183%205.83395%2011.6685%204.91104C12.1223%203.98059%2012.4577%203.06662%2012.679%202.38974C12.7901%202.04988%2012.8736%201.76634%2012.9297%201.56595C12.9578%201.46569%2012.9792%201.38602%2012.9937%201.33029C13.001%201.30242%2013.0066%201.28052%2013.0106%201.265C13.0125%201.25723%2013.0141%201.25107%2013.0152%201.24655C13.0158%201.24428%2013.0162%201.24243%2013.0166%201.241C13.0167%201.24029%2013.0169%201.23967%2013.017%201.23917C13.0171%201.23892%2013.0172%201.23861%2013.0172%201.23849C13.0173%201.23821%2013.0173%201.23797%2012.046%201C11.0748%200.762035%2011.0748%200.761839%2011.0749%200.76167C11.0749%200.761648%2011.0749%200.761504%2011.0749%200.76146C11.0749%200.761372%2011.0749%200.761387%2011.0749%200.761504C11.0748%200.761738%2011.0747%200.762382%2011.0744%200.763428C11.0739%200.765521%2011.073%200.769224%2011.0716%200.774487C11.069%200.785012%2011.0647%200.801767%2011.0588%200.824344C11.047%200.869509%2011.0287%200.937891%2011.0039%201.02624C10.9544%201.20307%2010.8791%201.45902%2010.778%201.7682C10.5749%202.38941%2010.2721%203.21176%209.8709%204.03424C9.46605%204.86425%208.98262%205.64929%208.43414%206.22863C7.8846%206.80911%207.3447%207.10691%206.81482%207.14749L6.96755%209.14165ZM12.046%201C11.0727%201.22924%2011.0727%201.22949%2011.0728%201.22976C11.0728%201.22989%2011.0729%201.23019%2011.073%201.23044C11.0731%201.23095%2011.0732%201.23156%2011.0734%201.23228C11.0737%201.23371%2011.0742%201.23555%2011.0747%201.23781C11.0758%201.24233%2011.0773%201.24848%2011.0792%201.25623C11.0829%201.27172%2011.0883%201.29358%2011.0953%201.32139C11.1093%201.377%2011.1298%201.45648%2011.1569%201.55652C11.211%201.75646%2011.2916%202.03937%2011.3991%202.37854C11.6133%203.05402%2011.9388%203.96641%2012.3821%204.89596C12.8218%205.8179%2013.3986%206.80253%2014.1317%207.58965C14.8637%208.37572%2015.8263%209.04206%2017.0265%209.14117L17.1911%207.14796C16.6677%207.10473%2016.1356%206.80682%2015.5953%206.2266C15.0559%205.64742%2014.5825%204.8637%2014.1873%204.03509C13.7958%203.21408%2013.502%202.39371%2013.3056%201.77406C13.2078%201.46568%2013.1352%201.21043%2013.0875%201.03411C13.0636%200.946021%2013.0461%200.877848%2013.0347%200.832829C13.0291%200.810326%2013.025%200.79363%2013.0224%200.783145C13.0211%200.777903%2013.0202%200.774216%2013.0197%200.772135C13.0195%200.771094%2013.0193%200.770455%2013.0193%200.770224C13.0193%200.770109%2013.0193%200.770095%2013.0193%200.770185C13.0193%200.770229%2013.0193%200.770374%2013.0193%200.770396C13.0194%200.770566%2013.0194%200.770762%2012.046%201ZM17.0265%209.14117C17.9558%209.21792%2018.8526%208.93742%2019.6223%208.55568C20.3989%208.1705%2021.1183%207.64635%2021.7203%207.13842C22.3258%206.62751%2022.8365%206.1126%2023.1948%205.7271C23.3747%205.5336%2023.5179%205.37082%2023.6174%205.25494C23.6671%205.19696%2023.7061%205.15058%2023.7332%205.11783C23.7468%205.10145%2023.7575%205.08847%2023.7651%205.07912C23.769%205.07445%2023.772%205.07069%2023.7743%205.06787C23.7754%205.06646%2023.7764%205.06529%2023.7772%205.06435C23.7775%205.06388%2023.7779%205.06348%2023.7781%205.06313C23.7783%205.06295%2023.7785%205.06274%2023.7785%205.06265C23.7787%205.06245%2023.7788%205.06227%2023%204.43504C22.2212%203.80781%2022.2213%203.80766%2022.2214%203.80751C22.2214%203.80749%2022.2215%203.80736%2022.2216%203.80731C22.2217%203.8072%2022.2217%203.80715%2022.2217%203.80716C22.2217%203.80717%2022.2215%203.80742%2022.2211%203.8079C22.2203%203.80887%2022.2188%203.81074%2022.2165%203.81351C22.212%203.81904%2022.2045%203.82812%2022.1943%203.8405C22.1737%203.86527%2022.1419%203.90321%2022.0997%203.95237C22.0152%204.05077%2021.8897%204.19361%2021.7299%204.36544C21.4091%204.71062%2020.9575%205.16525%2020.4305%205.60982C19.9001%206.05739%2019.3169%206.47467%2018.7336%206.76395C18.1434%207.05667%2017.6232%207.18364%2017.1911%207.14796L17.0265%209.14117Z%22%20%2F%3E%3C%2Fsvg%3E)
                50% no-repeat;
        }
    }

    &__body {
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        cursor: pointer;
    }

    &__img {
        min-height: 270px;
        @include pseudo() {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.03);
        }
    }

    &__info {
        padding: 20px 30px;
    }

    &__product {
        @extend %productName;
    }

    &__discount {
        @include flex(flex-start, center, $gap: 20px);
        margin: 10px 0px;
    }

    &__sale {
        @extend %wordSale;
    }

    &__percent {
        @extend %priceDiscount;
    }

    &__price {
        @include flex(flex-start, center, $gap: 20px);
    }

    &__past-price {
        @extend %pastPrice;
    }

    &__current-price {
        @extend %currentPrice;
    }
}

.asidebar-discount {
    border: 1px solid rgba(0,0,0,.08);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-top: 30px;
    &__header {
        width: 100%;
        min-height: 26px;
        background-color: #000;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &__title {
        @include fontArguments($mainFont, 15px, 700);
        padding: 21px 80px 17px 30px;
        color: #fff;
        text-transform: uppercase;
        @include pseudo() {
            right: 30px;
            top: 20px;
            bottom: 20px;
            width: 22px;
            height: 18px;
            background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2222px%22%20height%3D%2220px%22%20%20viewBox%3D%220%200%2022%2020%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M17.2538%200.384907L3.21155%2018.3849L4.78845%2019.6151L18.8307%201.61509L17.2538%200.384907ZM6.85446%205.40526C6.85446%206.77114%205.75937%207.86316%204.42723%207.86316V9.86316C6.8807%209.86316%208.85446%207.85887%208.85446%205.40526H6.85446ZM4.42723%207.86316C3.09509%207.86316%202%206.77114%202%205.40526H0C0%207.85887%201.97376%209.86316%204.42723%209.86316V7.86316ZM2%205.40526C2%204.03939%203.09509%202.94737%204.42723%202.94737V0.947368C1.97376%200.947368%200%202.95165%200%205.40526H2ZM4.42723%202.94737C5.75937%202.94737%206.85446%204.03939%206.85446%205.40526H8.85446C8.85446%202.95165%206.8807%200.947368%204.42723%200.947368V2.94737ZM20%2014.8789C20%2016.2448%2018.9049%2017.3368%2017.5728%2017.3368V19.3368C20.0262%2019.3368%2022%2017.3326%2022%2014.8789H20ZM17.5728%2017.3368C16.2406%2017.3368%2015.1455%2016.2448%2015.1455%2014.8789H13.1455C13.1455%2017.3326%2015.1193%2019.3368%2017.5728%2019.3368V17.3368ZM15.1455%2014.8789C15.1455%2013.5131%2016.2406%2012.4211%2017.5728%2012.4211V10.4211C15.1193%2010.4211%2013.1455%2012.4253%2013.1455%2014.8789H15.1455ZM17.5728%2012.4211C18.9049%2012.4211%2020%2013.5131%2020%2014.8789H22C22%2012.4253%2020.0262%2010.4211%2017.5728%2010.4211V12.4211Z%22%20%2F%3E%3C%2Fsvg%3E)
                50% no-repeat;
        }
    }

    &__item {
        padding: 28px 28px 20px;
        cursor: pointer;
        &:not(&:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        }
    }

    &__img {
        img {
            width: 100px;
            height: 100px;
            border-radius: $borderRadius;
        }
    }

    &__price {
        @include flex($direction: column, $gap: 5px);
    }

    &__past-price {
        @extend %pastPrice;
    }

    &__current-price {
        @extend %currentPrice;
    }

    &__product {
        @extend %productName;
    }

    &__top {
        @include flex(space-between, center, $gap: 10px);
    }

    &__info {
        @include flex(space-around, center, $gap: 10px);
    }

    &__cart {
        width: 23px;
        height: 44px;
        background-color: transparent;
        cursor: pointer;
        @include pseudo() {
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22full%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Aev%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2Fxml-events%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2223px%22%20height%3D%2221px%22%20%20viewBox%3D%220%200%2023%2021%22%20preserveAspectRatio%3D%22none%22%20shape-rendering%3D%22geometricPrecision%22%3E%22%3Cpath%20fill%3D%22%23101010%22%20opacity%3D%220.2%22%20d%3D%22M0%202H2.3132L7.06665%2014.359C7.21519%2014.7452%207.58623%2015%208%2015H18C18.4089%2015%2018.7766%2014.751%2018.9285%2014.3714L22.9285%204.37139C23.0517%204.0633%2023.0141%203.71414%2022.8281%203.43937C22.642%203.1646%2022.3318%203%2022%203H9V5H20.523L17.323%2013H8.6868L3.93335%200.641021C3.78481%200.254829%203.41377%200%203%200H0V2ZM7%2019.0001C7%2017.8955%207.89543%2017.0001%209%2017.0001C10.1046%2017.0001%2011%2017.8955%2011%2019.0001C11%2020.1047%2010.1046%2021.0001%209%2021.0001C7.89543%2021.0001%207%2020.1047%207%2019.0001ZM15%2019.0001C15%2017.8955%2015.8954%2017.0001%2017%2017.0001C18.1046%2017.0001%2019%2017.8955%2019%2019.0001C19%2020.1047%2018.1046%2021.0001%2017%2021.0001C15.8954%2021.0001%2015%2020.1047%2015%2019.0001Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)
                50% no-repeat;
            transition: all 0.3s;
        }
    }
}
