@import "@/styles/general/mixin";
@import "@/styles/general/ui";

.item-attribute {
    @include flex(space-between, center, $gap: 10px);
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;

    &:hover {
        box-shadow: -0px 10px 12px -8px #0002;
    }

    &__body {
        @include flex(space-between, center, $gap: 10px);
        @include text($textColor, left, capitalize);
        @include fontArguments($textfont, $fontWeight: 500);
        padding: 20px 0px;
        flex: 1 1 auto;
    }

    &__name {
        flex: 0 0 50%;
    }

    &__view {
        cursor: pointer;
        width: 12%;
        font-family: inherit;
        font-size: inherit;
        background-color: transparent;
    }

    &__variants {
        flex: 0 0 50%;
    }

    &__variant {
        padding-top: 2px;
        padding-right: 10px;
    }

    &__actions {
        @include flex(space-between, center, $gap: 10px);
    }

    &__disabled {
        cursor: not-allowed;
    }

    &__edit {
        @extend %actionBtn;
        background: url("../../../assets/icons/edit-icon.svg") 50% 50% no-repeat;
    }

    &__delete {
        @extend %actionBtn;
        background: url("../../../assets/icons/delete-icon.svg") 50% 50% no-repeat;
    }
}
