@import "@/styles/general/mixin";
@import "@/styles/general/ui";

.item-orders {
    @include flex(space-between, center, $gap: 10px);
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;

    &:hover {
        box-shadow: -0px 10px 12px -8px #0002;
    }

    &__body {
        @include flex(space-between, center, $gap: 10px);
        @include text($textColor, left, capitalize);
        @include fontArguments($textfont, $fontWeight: 500);
        padding: 20px 0px;
        flex: 1 1 auto;
        a {
            color: inherit;
        }
    }

    .children-categories {
        @include flex(flex-start, center, $gap: 10px);
    }

    &__username,
    &__products,
    &__address,
    &__status,
    &__date {
        flex: 0 0 20%;
    }

    &__actions {
        @include flex(space-between, center, $gap: 10px);
    }

    &__edit {
        @extend %actionBtn;
        background: url("../../../../assets/icons/edit-icon.svg") 50% 50% no-repeat;
    }

    &__delete {
        @extend %actionBtn;
        background: url("../../../../assets/icons/delete-icon.svg") 50% 50% no-repeat;
    }
}
