@import "@/styles/general/mixin";
@import "@/styles/general/ui";
@import "@/styles/general/variables";

.attribute {
    &__title {
        @include fontArguments($mainFont, 25px, 700);
        @include text($titleColor);
        margin-top: 20px;
    }

    &__txt {
        display: inline-block;
        color: $activeColor;
        font-weight: 700;
    }

    .list-attribute {
        @include flex(space-between, center, $gap: 20px);
        @include text($linkColor, left, capitalize);
        @include fontArguments($mainFont, 18px, $fontWeight: 700);
        margin-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid hsla(0, 0%, 85%, 0.4);
        &__item {
            flex: 0 0 6%;
        }
    }

    .attribute-action {
        text-align: right !important;
    }
}
