* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

select,
option,
button {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    &:focus {
        outline: none;
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

textarea {
    resize: none;
    overflow: auto;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
