// * main
$maxWidth: 1920;
$containerMaxWidth: 1360;
$mainFont: "Montserrat", sans-serif;
$textfont: "Roboto", sans-serif;

// * general
$borderRadius: 6px;
$mostUsedBcg: #f7f7f7;

// * text
$titleColor: #101010;
$linkColor: #101010;
$textColor: #393939;

// * btn
$btnBorderColor: #e92e2e;

// * input
$inputBcg: #f7f7f7;
$inputFocusColor: #e92e2e;
